{% extends "@admin/plantilla.html" %}

{% block cabeza %}
    {{ parent() }}
    {{ seo(false, "Rocci v1", "El mejor MicroFramework")|raw }}
    <link rel="stylesheet" href="{{ publico }}/plugins/todc-select2/select2.css">
	<script type="text/javascript" src="{{ publico }}/plugins/todc-select2/select2.min.js"></script>
    <style type="text/css">
    	.nomargin {
    		margin:0 !important;
    	}
    </style>
	<script type="text/javascript">
		$(function() {
			moment.locale('es');
			$('.fechaTicket').after(function() {
				$(this).html(moment($(this).attr('fecha')).format('LLL'));
			});
			$('[name=usuario]').select2();
		});
	</script>
	
{% endblock %}

{% block contenido %}

<div class="b_card" ch-titulo='{"titulo": "Agregar Saldo"}'>
	{{ flash('flashAdmin')|raw }}
	<div class="container-fluid">
		<form method="post" action="{{ ruta('admin.enviarSaldo') }}">
		<div class="row">
			<div class="col-md-6">
				<select class="form-control" placeholder="Seleccione un usuario" name="usuario" required>
					{% for u in usuarios %}
					<option value="{{ u.id }}">{{ u.nombre|raw }} {{ u.apellido|raw }} ({{ u.correo }})</option>
					{% endfor %}
				</select>
			</div>
			<div class="col-md-4">
				<select class="form-control" name="metodo" placeholder="Seleccione un metodo" required>
					<option value="1">Mercado Pago</option>
					<option value="2">PayPal</option>
					<option value="3">Western Union</option>
				</select>
			</div>
			<div class="col-md-2">
				<input type="text" name="monto" class="form-control" placeholder="Monto" required>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<button type="submit" class="btn btn-success pull-right">Agregar saldo</button>
			</div>
		</div>
		</form>
	</div>
</div>

{% endblock %}

{% block pie %}
{% endblock %}