{% extends "@admin/plantilla.html" %}

{% block cabeza %}
    {{ parent() }}
    {{ seo(false, "Rocci v1", "El mejor MicroFramework")|raw }}
    <style type="text/css">
    	.nomargin {
    		margin:0 !important;
    	}
    </style>
{% endblock %}

{% block contenido %}

<div class="container-fluid">
	{{ flash('flashAdmin')|raw }}

	{% if categoria.id %}
	<form action="{{ ruta('admin.enviarCategoria') }}?id={{ categoria.id }}" method="post">
	{% else %}
	<form action="{{ ruta('admin.enviarCategoria') }}" method="post">
	{% endif %}
		<div class="row">
			<div class="col-lg-12">
				<div class="b_card" ch-titulo='{"titulo": "{% if categoria.id %}Editar{% else %}Agregar{% endif %} Categoria"}'>
					<div class="container-fluid">
						<div class="row">
							<div class="col-lg-12">
								<label>Titulo</label>
								<input type="text" name="nombre" class="form-control" value="{{ categoria.nombre }}">
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12">
								<a href="{{ ruta('admin.categorias') }}" class="btn btn-default"><i class="fa fa-close"></i></a>
								<button type="submit" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> {% if categoria.id %}Editar{% else %}Agregar{% endif %} Categoria</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
	<div class="row">
		<div class="col-lg-12">
			<div class="b_card" ch-titulo='{"titulo": "Lista de categorias"}'>
				<div class="container-fluid">
					{% for c in categorias %}
					<div class="row">
						<div class="col-lg-10">
							{{ c.nombre }}
						</div>
						<div class="col-lg-2">
							<a href="{{ ruta('admin.categorias') }}?id={{ c.id }}" class="btn btn-default pull-right"><i class="fa fa-edit"></i></a>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<center>{{ paginacion(pagina)|raw }}</center>
		</div>
	</div>
</div>

{% endblock %}

{% block pie %}
{% endblock %}