{% extends "plantilla.html" %} {% block cabeza %} {{ parent() }} {{ seo(true, "Error 404", "Pagian no encontrada")|raw }} {% endblock %} {% block contenido %} {{ parent() }} <div class=container-fluid style="padding: 0px;"> <!-- <div class="row">
		<div class="col-md-12">
			SLIDE
		</div>
	</div> --> <div class=row> <div class="col-md-12 text-center"> <h1>Error 404 Pagina no encontrada</h1> <h3>La pagina solicitada no existe</h3> <a href="{{ ruta('sitio.index') }}">Volver al inicio</a> </div> </div> </div> {% endblock %} {% block pie %} {% endblock %}