{% extends "plantilla.html" %}
{% block cabeza %}
	{{ parent() }} {{ seo(true, "Ingresar", "Ingresa para poder comprar o descargar tus ponchados")|raw }}
{% endblock %}
{% block contenido %}
{{ parent() }} 
<div class=b_card ch-titulo="{&quot;titulo&quot;: &quot;Ingresar&quot;}">
   <form method=post action="{{ ruta('sitio.enviarIngresar') }}">
      <div class=container-fluid>
         <div class=row>
            <div class=col-lg-12> {{ flash()|raw }} </div>
         </div>
         <div class=row>
            <div class=col-lg-6> <label>Correo:</label> <input type=email name=correo class=form-control> </div>
         </div>
         <div class=row>
            <div class=col-lg-6> <label>Clave:</label> <input type=password name=clave class=form-control> </div>
         </div>
         <div class=row>
            <div class=col-lg-12>
               <label>Captcha:</label> 
               <div class=g-recaptcha data-sitekey="{{ llave_publica }}" style="width: 100% !important"></div>
            </div>
         </div>
         <div class=row>
            <div class=col-lg-12> <button type=submit class="btn btn-default"><i class="fa fa-sign-in"></i> Ingresar</button> </div>
         </div>
         <div class=row>
            <div class=col-md-12> <a href="{{ ruta('sitio.registro') }}" class="btn btn-link"><i class="fa fa-user-plus"></i> Crear cuenta</a> <a href="{{ ruta('sitio.recuperar') }}" class="btn btn-link"><i class="fa fa-lock"></i> Recuperar clave</a> </div>
         </div>
      </div>
   </form>
</div>
{% endblock %}
{% block pie %}
	<script src=https://www.google.com/recaptcha/api.js async defer></script>
{% endblock %}