{% extends "@admin/plantilla.html" %}

{% block cabeza %}
    {{ parent() }}
    {{ seo(false, "Rocci v1", "El mejor MicroFramework")|raw }}
    <style type="text/css">
    	.nomargin {
    		margin:0 !important;
    	}
    </style>
	<script type="text/javascript">
		$(function() {
			moment.locale('es');
			$('.fechaTicket').after(function() {
				$(this).html(moment($(this).attr('fecha')).format('LLL'));
			});
		});
	</script>
{% endblock %}

{% block contenido %}

<div class="b_card" ch-titulo='{"titulo": "Tickets"}'>
	<div class="container-fluid">
		{% for t in tickets %}
		<div class="row" style="border-bottom: dashed 1px #C7C7C7; padding-top: 10px;">
			<div class="col-md-7">
				<a href="{{ ruta('admin.verTicket', {id:t.id}) }}">{{ t.titulo|raw }} {% if t.respondido == 1 %}<span class="label label-success">Respondido</span>{% else %}<span class="label label-default">Sin respuesta</span>{% endif %}</a>
			</div>
			<div class="col-md-5"><span class="fechaTicket pull-right" fecha="{{ t.fecha_alta }}"></span></div>
		</div>
		{% endfor %}
	</div>
</div>

{% endblock %}

{% block pie %}
{% endblock %}