{% extends "@admin/plantilla.html" %}

{% block cabeza %}
    {{ parent() }}
    {{ seo(false, "Rocci v1", "El mejor MicroFramework")|raw }}
    <style type="text/css">
		.verderRespuesta {
			background-color: #F3F9FF;
			border-radius: 5px;
			padding: 10px;
		}
		.amarrilloRespuesta {
			background-color: #FBFBFB;
			border-radius: 5px;
			padding: 10px;
		}
		.fechaRespuesta {
			font-size: 11px;
			padding-top: 5px;
			margin-top: 5px;
			border-top: solid 1px #FFF;
		}

	</style>
	<script type="text/javascript">
		$(function() {
			moment.locale('es');
			$('.fechaTicket').after(function() {
				$(this).html(moment($(this).attr('fecha')).format('LLL'));
			});
		});
	</script>
{% endblock %}

{% block contenido %}

<div class="b_card" ch-titulo='{"titulo": "{{ ticket.titulo|raw }}"}'>
	{{ flash('flashAdmin')|raw }}
	<div class="container-fluid nopadding">
		<div class="row">
			<div class="col-md-12">
				{{ ticket.detalle|raw }}
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<label>Respuestas</label>
			</div>
		</div>
		{% for r in respuestas %}
		<div class="row">
			<div class="col-md-12">
				<div class="{% if r.usuario == conectado %}verderRespuesta{% else %}amarrilloRespuesta{% endif %}">
					{{ r.detalle|raw }}
					<div class="fechaRespuesta" fecha="{{ r.fecha_alta }}"></div>	
				</div>
			</div>
		</div>
		{% endfor %}
		<div class="row">
			<div class="col-md-12">
				<center>{{ paginacion(pagina)|raw }}</center>
			</div>
		</div>
	</div>
</div>
<div class="b_card" ch-titulo='{"titulo": "Responder"}'>
	<form method="post" action="{{ ruta('admin.enviarMensajeTicket', {id:ticket.id}) }}">
		{{ flash()|raw }}
		<div class="container-fluid nopadding">
			<div class="row">
				<div class="col-md-12">
					<textarea class="form-control" name="detalle" rows="5"></textarea>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<button type="submit" class="btn btn-primary pull-right"><i class="fa fa-ticket"></i> Responder ticket</button>
				</div>
			</div>
		</div>
	</form>
</div>

{% endblock %}

{% block pie %}
{% endblock %}