{% extends "@admin/plantilla.html" %}

{% block cabeza %}
    {{ parent() }}
    {{ seo(false, "Rocci v1", "El mejor MicroFramework")|raw }}
    <style type="text/css">
    	.nomargin {
    		margin:0 !important;
    	}
    	.colorLista {
    		display: inline-block;
    		padding: 3px 10px;
    		text-align: center;
    		color: #fff;
    		text-shadow: 1px 1px 0px #000;
    		margin: 3px;
    		border: solid 1px #A1A1A1;
    	}
    	.itemImg {
    		border-radius: 4px;
    	}
    </style>
    <script type="text/javascript">
    	$(function() {
    		var colores = [];
    		$('#colores').after(function() {
    			cargarColor($(this).val().split(','));
    		});
    		$('#agregarColor').on('click', function() {
    			if($('#color').val()) {
    				colores.push($('#color').val());
    				$('#colores').val(colores.join(','));
    				cargarColor(colores);
    			}
    		});
    		$('#colores').keyup(function() {
    			if(!$('#colores').val()) {
    				colores = [];
    			} else {
    				colores = $('#colores').val().split(',');
    				cargarColor(colores);
    			}
    		});
    		$('#gratis').on('change', function() {
				if ($(this).is(":checked")) {
					$(this).val(1);
					$('#precio').prop('disabled', true);
				} else {
					$(this).val(0);
					$('#precio').prop('disabled', false);
				}
    		});
    		$('[tooltip]').tooltip();
    	});
		var cargarColor = function(colores) {
			if(colores.length == 0) {
				return;
			}
			var listo = '';

			for (var i = 0; i < colores.length; i++) {
				listo += '<div class="colorLista" style="background-color: ' + colores[i] + '"> ' + i + '</div>';
			}
			$('#contenedorColores').html(listo);
		}
    </script>
{% endblock %}

{% block contenido %}

	<div class="container-fluid">	
		{% if ponchado.id %}
		<form action="{{ ruta('admin.enviarPonchado') }}?id={{ ponchado.id }}" method="post" enctype="multipart/form-data">
		{% else %}
		<form action="{{ ruta('admin.enviarPonchado') }}" method="post" enctype="multipart/form-data">
		{% endif %}
		<div class="row">
			<div class="col-lg-12">
				<div class="b_card" ch-titulo='{"titulo": "Agregar Ponchado"}'>
					<div class="container-fluid">
						{{ flash('flashAdmin')|raw }}
						<div class="row">
							<div class="col-lg-6">
								<label>Titulo</label>
								<input type="text" name="titulo" class="form-control" value="{{ ponchado.titulo|raw }}" required>
								<label>Descripcion</label>
								<textarea name="descripcion" class="form-control" rows="10" value="{{ ponchado.descripcion|raw }}"></textarea>
							</div>
							<div class="col-lg-6">
								<div class="col-lg-12 nomargin">
									<label>Categoria</label>
									<select class="form-control" name="categoria" placeholder="Seleccione una categoria" value="{{ ponchado.categoria }}" required>
										{% for c in categorias %}
										<option value="{{ c.id }}">{{ c.nombre|raw }}</option>
										{% endfor %}
									</select>
								</div>
								<div class="col-lg-9 nomargin">
									<label>Precio</label>
									<input type="text" name="precio" id="precio" class="form-control" value="{{ ponchado.precio }}" {% if ponchado.gratis == 1 %} disabled {% endif %}>
								</div>
								<div class="col-lg-3 nomargin">
									<label>Gratis</label><br>
									<input id="gratis" type="checkbox" name="gratis" {% if ponchado.gratis == 1 %} checked="{{ ponchado.gratis }}" {% endif %}>
								</div>
								<div class="col-lg-6 nomargin">
									<label>Nombre</label>
									<input type="text" name="nombre" class="form-control" value="{{ ponchado.nombre }}" required>
								</div>
								<div class="col-lg-6 nomargin">
									<label>Puntadas</label>
									<input type="text" name="puntadas" class="form-control" value="{{ ponchado.puntadas }}" required>
								</div>
								<div class="col-lg-3 nomargin">
									<label>X</label>
									<input type="text" name="x" class="form-control" value="{{ ponchado.x }}" required>
								</div>
								<div class="col-lg-3 nomargin">
									<label>Y</label>
									<input type="text" name="y" class="form-control" value="{{ ponchado.y }}" required>
								</div>
								<div class="col-lg-3 nomargin">
									<label>Color</label>
									<input type="color" id="color" name="color" class="form-control">
								</div>
								<div class="col-lg-3 nomargin">
									<label>Agregar</label>
									<button id="agregarColor" type="button" class="btn btn-primary btn-block"><i class="fa fa-plus"></i></button>
								</div>
								<div class="col-lg-12 nomargin">
									<label>Colores</label>
									<input type="text" id="colores" name="colores" class="form-control" value="{{ ponchado.colores }}" required>
								</div>
								<div class="col-lg-12">
									<div id="contenedorColores"></div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12">
								
							</div>
						</div>
						<div class="row">
							<div class="col-lg-4">
								<label>Foto 1</label>
								<img src="{{ publico }}/img/ponchados/{{ ponchado.foto1 }}.jpg" style="max-width: 100%; border-radius: 4px; margin-bottom: 5px;">
								<input type="file" name="foto1">
							</div>
							<div class="col-lg-4">
								<label>Foto 2</label>
								<img src="{{ publico }}/img/ponchados/{{ ponchado.foto2 }}.jpg" style="max-width: 100%; border-radius: 4px; margin-bottom: 5px;">
								<input type="file" name="foto2">
							</div>
							<div class="col-lg-4">
								<label>Foto 3</label>
								<img src="{{ publico }}/img/ponchados/{{ ponchado.foto3 }}.jpg" style="max-width: 100%; border-radius: 4px; margin-bottom: 5px;">
								<input type="file" name="foto3">
							</div>
						</div>
						<div class="row">
							<div class="col-lg-4">
								<label>Tajima (*.DST)</label>
								{% if ponchado.ponchado1 %}
								<a href="{{ base }}/ponchados/{{ ponchado.ponchado1 }}.broke" download="{{ ponchado.nombre }}.dst">Descargar</a>
								{% endif %}
								<input type="file" name="ponchado1">
							</div>
							<div class="col-lg-4">
								<label>Janome (*.JEF)</label>
								{% if ponchado.ponchado2 %}
								<a href="{{ base }}/ponchados/{{ ponchado.ponchado2 }}.broke" download="{{ ponchado.nombre }}.jef">Descargar</a>
								{% endif %}
								<input type="file" name="ponchado2">
							</div>
							<div class="col-lg-4">
								<label>Brother (*.PES)</label>
								{% if ponchado.ponchado3 %}
								<a href="{{ base }}/ponchados/{{ ponchado.ponchado3 }}.broke" download="{{ ponchado.nombre }}.pes">Descargar</a>
								{% endif %}
								<input type="file" name="ponchado3">
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12">
								<a href="{{ ruta('admin.ponchados') }}" class="btn btn-default pull-left"><i class="fa fa-close"></i></a>
								<button type="submit" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> {% if ponchado.id %}Editar{% else %}Agregar{% endif %} Ponchado</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</form>
		<div class="row">
			<div class="col-lg-12">
				<div class="b_card" ch-titulo='{"titulo": "Lista de Ponchados"}'>
					<div class="container-fluid">
						{% for p in ponchados %}
						<div class="row">
							<div class="col-lg-1">
								<div id="myCarousel" class="carousel slide" data-ride="carousel">
									<!-- Indicators -->
									<!-- <ol class="carousel-indicators">
										{% if p.foto1 %}<li data-target="#myCarousel" data-slide-to="0" class="active"></li>{% endif %}
										{% if p.foto2 %}<li data-target="#myCarousel" data-slide-to="1"></li>{% endif %}
										{% if p.foto3 %}<li data-target="#myCarousel" data-slide-to="2"></li>{% endif %}
									</ol> -->

									<!-- Wrapper for slides -->
									<div class="carousel-inner">
										{% if p.foto1 %}
										<div class="item active">
											<img class="itemImg" src="{{ publico }}/img/ponchados/{{ p.foto1 }}.jpg">
										</div>
										{% endif %}

										{% if p.foto2 %}
										<div class="item">
											<img class="itemImg" src="{{ publico }}/img/ponchados/{{ p.foto2 }}.jpg">
										</div>
										{% endif %}

										{% if p.foto3 %}
										<div class="item">
											<img class="itemImg" src="{{ publico }}/img/ponchados/{{ p.foto3 }}.jpg">
										</div>
										{% endif %}
									</div>
								</div>
							</div>
							<div class="col-lg-9">
								<strong tooltip title="{{ p.descripcion|raw }}">{{ p.titulo|raw }}</strong>
							</div>
							<div class="col-lg-2">
								<a href="{{ ruta('admin.ponchados') }}?id={{ p.id }}" class="btn btn-default pull-right"><i class="fa fa-edit"></i></a>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
	
{% endblock %}

{% block pie %}
{% endblock %}