{% extends "usuario/usuario.html" %} {% block cabeza %} {{ parent() }} {{ seo(false, "Cargar saldo", "Cargar saldo")|raw }} <style type=text/css>
		.itemdato {
			text-align: center;
			background-color: #1B1B1B;
			padding: 10px;
			font-size: 200%;
			color: #EBEBEB;
			border-radius: 4px;
		}
		.itemdato-verde {
			background-color: #45B550 !important;
		}
		.itemdato span {
			display: block;
			font-size: 40%;
		}
	</style> <script type=text/javascript>
		$(function() {
			$('#medio').on('change', function() {
				if($(this).val() == 1) {
					$('#filaArgentina').show('slow');
					$('#cantidad').show('slow');

				} else {
					$('#filaArgentina').hide('slow');
				}

				if($(this).val() == 3) {
					$('#cantidad').hide();
					$('#btnCargar').hide();
					$('#filaWU').show('slow');
				} else {
					$('#filaWU').hide('slow');
					$('#btnCargar').show();
				}
			});
		});
	</script> {% endblock %} {% block contenidoUsuario %} {{ parent() }} <div class=b_card ch-titulo="{&quot;titulo&quot;: &quot;Cargar saldo&quot;}"> <div class="container-fluid nopadding"> <div class=row> <div class=col-md-12> <div style="background-color: #02d1a4; color: #fff; padding: 7px; border: solid 1px #02A985; border-radius: 3px; font-size: 18px;"><i class="fa fa-whatsapp"></i> Para una carga mas rapida (MercadoPago / PayPal)<br> Puedes comunicarte con: <a href="tel:+54 911 66761936">+54 911 66761936</a></div> </div> </div> <hr> <div class=row> <div class=col-md-12> <div class="alert alert-warning">Para poder cargar saldo puedes enviar dinero mediante Western Union al siguiente destinatario</div> </div> </div> <div class=row> <div class=col-md-12> <img src="{{ publico }}/img/western-union.jpg"> </div> </div> <div class=row> <div class=col-md-12> <table class="table table-bordered table-striped"> <tr> <th colspan=2>Datos de contacto</th> </tr> <tr> <td>Nombre:</td> <td>Roberto Carlos Calani Carrasco</td> </tr> <tr> <td>Documento:</td> <td>94248948</td> </tr> <tr> <td>Direccion:</td> <td>Aquino 5526</td> </tr> <tr> <td>Ciudad:</td> <td>Ciudad Autonoma de Buenos Aires (C.A.B.A.)</td> </tr> <tr> <td>Provincia:</td> <td>Buenos Aires</td> </tr> <tr> <td>Pais:</td> <td>Argentina</td> </tr> </table> </div> </div> {# <div class=row id=filaArgentina style="display: none;"> <div class=col-md-12> <div class="alert alert-info" style=margin:0px;> <i class="fa fa-info-circle"></i> Todos las cargas estan espresadas en dolares pero al momento de pagar, estos son convertidos a pesos Argentinos y en tu cuenta se depositan en valor de dolar. </div> </div> </div> <div class=row> <div class=col-md-2 style="display: none;" id=cantidad> <label>Cantidad:</label> <input type=text name=cantidad class="form-control input-lg" placeholder=U$D> </div> <div class=col-md-12> <label>Medio de deposito:</label> <select class="form-control input-lg" name=medio id=medio placeholder="Seleccione un medio de pago"> <option value=1>Mercado Pago / PayPal</option> <option value=3>Western Union</option> </select> </div> </div> <div class=row id=filaWU style="display: none;"> <div class=col-md-12> <div class="alert alert-info"><i class="fa fa-info-circle"></i> Una vez que haya realizado el pago, debe informar este mismo abriendo un ticket de soporte</div> <table class="table table-bordered table-striped"> <tr> <th colspan=2>Datos de contacto</th> </tr> <tr> <td>Nombre:</td> <td>Roberto Carlos Calani Carrasco</td> </tr> <tr> <td>Documento:</td> <td>94248948</td> </tr> <tr> <td>Direccion:</td> <td>Aquino 5526</td> </tr> <tr> <td>Ciudad:</td> <td>Ciudad Autonoma de Buenos Aires (C.A.B.A.)</td> </tr> <tr> <td>Provincia:</td> <td>Buenos Aires</td> </tr> <tr> <td>Pais:</td> <td>Argentina</td> </tr> </table> </div> </div> <div class=row> <div class=col-md-12> <button class="btn btn-default btn-success pull-right btn-lg" id=btnCargar><i class="fa fa-dollar"></i> Cargar saldo</button> </div> </div>#} </div> </div> {% endblock %} {% block pie %} <script src=https://www.google.com/recaptcha/api.js async defer></script> {% endblock %}