{% extends "usuario/usuario.html" %} {% block cabeza %} {{ parent() }} {{ seo(false, "Mis compras", "Mis compras")|raw }} <style type=text/css>
		.descargar {
			background-color: #BEFAC1;
			border: dashed 1px #3E9342;
			color: #307433;
			padding: 20px;
			text-align: center;
		}
		.itemcompra {
			border-bottom: solid 1px #E6E9ED;
			padding-bottom: 5px;
			padding-top: 5px; 
		}
		.calificacion {
			font-style: italic;
			border-left: solid 3px #E4E4E4;
			padding-left: 7px;
		}
	</style> {% endblock %} {% block contenidoUsuario %} {{ parent() }} <div class=b_card ch-titulo="{&quot;titulo&quot;: &quot;Mis compras&quot;}"> <div class="container-fluid nopadding"> {{ flash()|raw }} {% if compras|length == 0 %} <div class=row> <div class=col-md-12> <div class="alert alert-info"><i class="fa fa-info-circle"></i> No se encontraron compras</div> </div> </div> {% endif %} {% for c in compras %} <div class=itemcompra> <div class=row> <div class="col-md-2 text-center"> <img src="{{ publico }}/img/ponchados/{{ c.ponchado.foto }}.jpg" style="max-width: 100%"> </div> <div class=col-md-7> <div><strong>Enlace:</strong> <a href="{{ ruta('sitio.ponchado', {id:c.ponchado.id, titulo_url: c.ponchado.titulo_url}) }}">{{ c.ponchado.titulo|raw }}</a></div> <div><strong>Puntadas:</strong> 1340 <strong>X:</strong> {{ c.ponchado.x }}mm <strong>Y:</strong> {{ c.ponchado.y }}mm</div> <div><strong>Fecha de compra:</strong> <span class=fecha>{{ c.fecha_alta }}</span></div> <div><strong>Precio:</strong> ${{ c.precio }}</div> <div><strong>Comentario:</strong> {% if c.comentario == '' %} <div class="alert alert-warning">Sin comentario, otorga una calificacion desde aqui: <a href="{{ ruta('usuario.calificar', {id:c.id}) }}">[ Calificar ]</a></div> {% else %} <span class=calificacion>"{{ c.comentario }}"</span> {% endif %}</div> </div> <div class="col-md-3 text-center"> <div class=dropdown> <button class="btn btn-success dropdown-toggle btn-block" type=button data-toggle=dropdown><i class="fa fa-download"></i> Descargar <span class=caret></span></button> <ul class=dropdown-menu> <li><a type=button href=# data-toggle=modal data-target=#modalDescargarPonchado class=btn-download tipo=1 ponchado-id="{{ c.ponchado.id }}">Tajima (*.DST)</a></li> <li><a type=button href=# data-toggle=modal data-target=#modalDescargarPonchado class=btn-download tipo=2 ponchado-id="{{ c.ponchado.id }}">Janome (*.JEF)</a></li> <li><a type=button href=# data-toggle=modal data-target=#modalDescargarPonchado class=btn-download tipo=3 ponchado-id="{{ c.ponchado.id }}">Brother (*.PES)</a></li> </ul> </div> </div> </div> </div> {% endfor %} </div> </div> {% include 'includes/modalDescarga.html' %} {% endblock %} {% block pie %} {% endblock %}