{% extends "usuario/usuario.html" %} {% block cabeza %} {{ parent() }} {{ seo(false, "Mis tickets", "Mis tickets")|raw }} <style type=text/css>
		
	</style> <script type=text/javascript>
		$(function() {
			moment.locale('es');
			$('.fechaSaldo').after(function() {
				$(this).html(moment($(this).attr('fecha')).format('LLL'));
			});
			if(window.location.hash == '#informar'){
				$('#informarPago').show();
				$('[name=titulo]').val('Informe de pago');
			}
		});
	</script> {% endblock %} {% block contenidoUsuario %} {{ parent() }} <div class=b_card ch-titulo="{&quot;titulo&quot;: &quot;Abrir ticket&quot;}"> <form method=post action="{{ ruta('usuario.enviarTicket') }}"> {{ flash()|raw }} <div class="container-fluid nopadding"> <div class=row id=informarPago style="display: none;"> <div class=col-md-12> <div class="alert alert-info"> <i class="fa fa-info-circle"></i> Para poder informar un pago enviado mediante <strong>Western Union</strong> debe abrir un ticket de soporte detallando los datos del remitente y fecha del deposito. <br>Una vez que que el administrador haya verificado los datos entonces se depositara el saldo en su cuenta </div> </div> </div> <div class=row> <div class=col-md-10> <label>Titulo</label> <input type=text name=titulo class=form-control> </div> <div class=col-md-2> <label>Estado</label> <select name=estado class=form-control value=1> <option value=1>Abierto</option> <option value=0>Cerrado</option> </select> </div> </div> <div class=row> <div class=col-md-12> <label>Detalle</label> <textarea name=detalle class=form-control rows=5></textarea> </div> </div> <div class=row> <div class=col-lg-12> <label>Captcha</label> <div class=g-recaptcha data-sitekey="{{ llave_publica }}" style="width: 100% !important"></div> </div> </div> <div class=row> <div class=col-md-12> <button type=submit class="btn btn-default pull-right"><i class="fa fa-ticket"></i> Abrir ticket</button> </div> </div> </div> </form> </div> <div class=b_card ch-titulo="{&quot;titulo&quot;: &quot;Lista de tickets&quot;}"> <div class="container-fluid nopadding"> {% for t in tickets %} <div class=row style="border-bottom: dashed 1px #C7C7C7; padding-top: 10px;"> <div class=col-md-7> <a href="{{ ruta('usuario.verTicket', {id:t.id}) }}">{{ t.titulo|raw }} {% if t.respondido == 1 %}<span class="label label-success">Respondido</span>{% else %}<span class="label label-default">Sin respuesta</span>{% endif %}</a> </div> <div class=col-md-5><span class="fechaSaldo pull-right" fecha="{{ t.fecha_alta }}"></span></div> </div> {% endfor %} </div> </div> {% endblock %} {% block pie %} <script src=https://www.google.com/recaptcha/api.js async defer></script> {% endblock %}