{% extends "usuario/usuario.html" %} {% block cabeza %} {{ parent() }} {{ seo(false, "Ver ticket", "Ver ticket")|raw }} <style type=text/css>
		.verderRespuesta {
			background-color: #F3F9FF;
			border-radius: 5px;
			padding: 10px;
		}
		.amarrilloRespuesta {
			background-color: #FBFBFB;
			border-radius: 5px;
			padding: 10px;
		}
		.fechaRespuesta {
			font-size: 11px;
			padding-top: 5px;
			margin-top: 5px;
			border-top: solid 1px #FFF;
		}

	</style> <script type=text/javascript>
		$(function() {
			moment.locale('es');
			$('.fechaRespuesta').after(function() {
				$(this).html(moment($(this).attr('fecha')).format('LLL'));
			});
		});
	</script> {% endblock %} {% block contenidoUsuario %} {{ parent() }} <div class=b_card ch-titulo="{&quot;titulo&quot;: &quot;{{ ticket.titulo|raw }}&quot;}"> <div class="container-fluid nopadding"> <div class=row> <div class=col-md-12> {{ ticket.detalle|raw }} </div> </div> <div class=row> <div class=col-md-12> <label>Respuestas</label> </div> </div> {% for r in respuestas %} <div class=row> <div class=col-md-12> <div class="{% if r.usuario == conectado %}verderRespuesta{% else %}amarrilloRespuesta{% endif %}"> {{ r.detalle|raw }} <div class=fechaRespuesta fecha="{{ r.fecha_alta }}"></div> </div> </div> </div> {% endfor %} <div class=row> <div class=col-md-12> <center>{{ paginacion(pagina)|raw }}</center> </div> </div> </div> </div> <div class=b_card ch-titulo="{&quot;titulo&quot;: &quot;Responder&quot;}"> <form method=post action="{{ ruta('usuario.enviarMensajeTicket', {id:ticket.id}) }}"> {{ flash()|raw }} <div class="container-fluid nopadding"> <div class=row> <div class=col-md-12> <textarea class=form-control name=detalle rows=5></textarea> </div> </div> <div class=row> <div class=col-lg-12> <label>Captcha:</label> <div class=g-recaptcha data-sitekey="{{ llave_publica }}" style="width: 100% !important"></div> </div> </div> <div class=row> <div class=col-md-12> <button type=submit class="btn btn-primary pull-right"><i class="fa fa-ticket"></i> Responder ticket</button> </div> </div> </div> </form> </div> {% endblock %} {% block pie %} <script src=https://www.google.com/recaptcha/api.js async defer></script> {% endblock %}